language: java
install: true

jdk:
#  - oraclejdk11
  - openjdk10
#  - openjdk11

addons:
  sonarcloud:
    organization: "arnosthavelka-github"
      
script:
  # the following command line builds the project, runs the tests with coverage and then execute the SonarCloud analysis
  #- mvn clean package
  - mvn clean org.jacoco:jacoco-maven-plugin:prepare-agent package sonar:sonar -Dsonar.login=${SONAR_TOKEN}
  #- sonar-scanner -Dsonar.branch=${TRAVIS_BRANCH} -Dsonar.projectVersion=${SONAR_VERSION}
  #- sonar-scanner


cache:
  directories:
    - '$HOME/.m2/repository'
    - '$HOME/.sonar/cache'
